---
const username = "rasib0";
const username_linkedin = "muhammad-rasib-nadeem";
---

<style>
  .social {
    padding: 0.3925rem 0.99rem;
    border-radius: 12px;
    font-weight: 700;
    /* color: var(--background-color); */
    color: black;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02px;
    /* background-color: var(--button-color); */
    background-color: white;
  }

  .social:hover {
    background-color: var(--button-hover-light);
    text-decoration: none;
    transition: background-color 150ms ease-in-out;
  }
  footer {
    /*  background: var(--nav-color); */
    background: linear-gradient(to bottom, #1d4ed8, #4f46e5);
    padding: 1rem;
    margin-top: 3rem;
    text-align: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
  .socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  p,
  a {
    display: inline-block;
    color: white;
    font-size: 0.9rem;
  }
</style>

<footer>
  <p>
    Built with love 💖 using <a href={`https://astro.build/`}>Astro</a>.
  </p>
  <div class="socials">
    <a class="box-shadow social" href={`https://www.github.com/${username}`}
      >github</a
    >
    <a
      class="box-shadow social"
      href={`https://www.linkedin.com/in/${username_linkedin}`}>linkedin</a
    >
  </div>
</footer>
