---
const username = "rasib0";
const username_linkedin = "muhammad-rasib-nadeem";
---

<style>
  .social {
    padding: 0.3925rem 0.99rem;
    border-radius: 12px;
    font-weight: 700;
    color: var(--background-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02px;
    background-color: var(--button-color);
  }

  .social:hover {
    background-color: var(--button-hover);
    text-decoration: none;
    transition: background-color 150ms ease-in-out;
  }
  footer {
    background: var(--nav-color);
    padding: 1rem;
    margin-top: 3rem;
    text-align: center;
  }
  .socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  p {
    display: inline-block;
  }
</style>

<footer>
  <div class="socials">
    <a class="box-shadow social" href={`https://www.github.com/${username}`}
      >github</a
    >
    <a class="box-shadow social" href={`https://www.twitter.com/${username}`}
      >twitter</a
    >
    <a
      class="box-shadow social"
      href={`https://www.linkedin.com/in/${username_linkedin}`}>linkedin</a
    >
  </div>
  <p>
    Built with love 💖 using <a href={`https://astro.build/`}>Astro</a>.
  </p>
</footer>
