---
const username = "rasib0";
const username_linkedin = "muhammad-rasib-nadeem";
---

<style>
  footer {
    /*  background: var(--nav-color); */
    background: black;
    border-top: 1px solid var(--ui-color);
    padding: 1rem;
    margin-top: 6rem;
    text-align: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
  p {
    color: white;
    font-size: 13px;
  }
</style>

<footer>
  <p>© 2023 - 2024 | Designed &#38; Coded with 💖 by Rasib Nadeem</p>
</footer>
