---
import ThemeIcon from "./ThemeIcon.astro";
import ResumeIcon from "../../components/Icons/resume.astro";
import GithubIcon from "../../components/Icons/github.astro";
import LinkedinIcon from "../../components/Icons/linkedin.astro";
import ExternalIcon from "../../components/Icons/external.astro";
import MailIcon from "../../components/Icons/mail.astro";
---

<header>
  <div class="wrapper">
    <nav>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="nav-links">
        <!-- <div class="nav-link-wrapper">
          <a
            class="hover-underline-animation nav-link"
            draggable="false"
            href="/">Home</a
          >
        </div> -->
        <!-- <div>
        <a
          class="hover-underline-animation nav-link"
          draggable="false"
          href="/projects">Projects</a
        >
      </div>-->
        <div class="nav-link-wrapper">
          <a
            class="hover-underline-animation nav-link"
            draggable="false"
            href="/#about">Home</a
          >
        </div>
        <div class="nav-link-wrapper">
          <a
            class="hover-underline-animation nav-link"
            draggable="false"
            href="/projects">Projects</a
          >
        </div>
        <!--
        <div class="nav-link-wrapper">
          <a
            class="hover-underline-animation nav-link"
            draggable="false"
            href="/#testimonials">Testimonials</a
          >
          </div>
        -->
        <div class="grow nav-link-wrapper">
          <a
            class="hover-underline-animation nav-link"
            aria-label="Open Resume P D F"
            draggable="false"
            href="/resume.pdf"><ResumeIcon /> Resume</a
          >
        </div>
        <div class="nav-link-wrapper">
          <a
            class="hover-underline-animation nav-link"
            draggable="false"
            href="">Contact</a
          >
        </div>
        <!-- <div>
        <a class="hover-underline-animation" draggable="false" href="/about"
        >About</a>
      </div> -->
      </div>
    </nav>
    <ThemeIcon />
  </div>
</header>

<script>
  import "../../scripts/menu.js";
</script>

<style>
  header {
    /* background: linear-gradient(to bottom, var(--red-700), var(--red-600)); */
    position: fixed;
    color: var(--nav-element-color);
    top: 0;
    padding: 0.36rem 1rem;
    left: 0;
    z-index: 1000;
    width: 100%;
    transition: backdrop-filter 300ms ease-in-out, box-shadow 350ms ease-in-out;
    font-size: 16px;
  }

  header:hover {
    backdrop-filter: blur(8px);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  nav {
    padding: 0.25rem;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    border-radius: 0.25rem;
  }
  /* nav styles */

  nav {
    width: 100%;
  }

  .nav-links {
    width: 100%;
    height: 0px;
    transition: height 200ms ease-in-out;
    overflow: hidden;
  }

  .nav-link {
    display: block;
    text-transform: uppercase;
  }

  .nav-link:hover,
  .nav-link:focus {
    text-decoration: none;
  }
  .nav-link-wrapper {
    display: flex;
    margin: 0.9rem 0;
  }

  .expanded {
    height: 8rem;
  }

  /* nav link styles */

  .hover-underline-animation {
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: var(--nav-element-color);
    text-decoration: none;
  }

  .hover-underline-animation::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 2px;
    background-color: var(--nav-element-color);
    transition: transform 200ms ease-in-out 40ms;
    transform: translateX(-100%);
  }

  .hover-underline-animation:hover::before {
    transform: translateX(0);
  }

  /* big screen */

  @media screen and (min-width: 1024px) {
    .nav-links {
      height: 100%;
      display: flex;
    }

    header {
      padding: 0.36rem 6rem;
    }

    .nav-link {
      height: 100%;
      margin: 0px 18px;
      text-align: center;
    }

    .nav-link-wrapper {
      display: flex;
      margin: 0;
    }

    .hamburger {
      display: none;
    }
    .grow {
      flex-grow: 1;
    }
  }
</style>

<style>
  /* hamburger menu */
  .hamburger {
    width: 30px;
    height: 28px;
    touch-action: none;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    /*background: var(--nav-text-color); */
    background: var(--nav-element-color);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
  }

  .hamburger span:nth-child(1) {
    top: 0px;
  }

  .hamburger span:nth-child(2),
  .hamburger span:nth-child(3) {
    top: 11px;
  }

  .hamburger span:nth-child(4) {
    top: 22px;
  }

  .hamburger.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
  }

  .hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .hamburger {
    -webkit-tap-highlight-color: transparent;
  }
</style>
