:root {
  --slate-50: #f9fafb;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;

  --lime-50: #f7fee7;
  --lime-100: #ecfccb;
  --lime-200: #d9f99d;
  --lime-300: #bef264;
  --lime-400: #a3e635;
  --lime-500: #84cc16;
  --lime-600: #65a30d;
  --lime-700: #4d7c0f;

  --Emerald-50: #ecfdf5;
  --Emerald-100: #d1fae5;
  --Emerald-200: #a7f3d0;
  --Emerald-300: #6ee7b7;
  --Emerald-400: #34d399;
  --Emerald-500: #10b981;
  --Emerald-600: #059669;
  --Emerald-700: #047857;

  --amber-50: #fffbeb;
  --amber-100: #fef3c7;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-400: #fbbf24;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --amber-700: #b45309;
  --amber-950: #451a03;

  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-950: #050505;

  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
  --pink-800: #9d174d;
  --pink-900: #831843;

  --neutral-50: #f9fafb;
  --neutral-100: #f3f4f6;
  --neutral-200: #e5e7eb;
  --neutral-300: #d1d5db;
  --neutral-400: #9ca3af;
  --neutral-500: #6b7280;
  --neutral-600: #4b5563;
  --neutral-700: #374151;
  --neutral-800: #1f2937;
  --neutral-900: #111827;
  --neutral-950: #050505;

  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-950: #450a0a;
}

/* one off colors */
:root {
  --button-color: black;
  --button-hover: var(--neutral-900);
  --white: var(--neutral-50);
}

/* theme colors swap */
:root {
  --link-color: var(--blue-500);
  --background-color: var(--neutral-50);
  --text-color: black;

  --ui-color: var(--slate-400);
  --ui-comp-color: var(--neutral-50);

  --nav-element-color: black;

  --secondary-color: var(--blue-700);
  --secondary-color-dark: var(--blue-800);

  --tertiary-color: var(--neutral-500);
  --tertiary-color-light: var(--neutral-300);
  --tertiary-color-dark: var(--slate-700);
}

:root.dark {
  --link-color: var(--blue-400);
  --background-color: var(--neutral-950);
  --text-color: var(--neutral-50);

  --ui-color: var(--slate-500);
  --ui-comp-color: var(--neutral-800);

  --nav-element-color: var(--neutral-50);

  --secondary-color: var(--blue-200);
  --secondary-color-dark: var(--blue-300);
 
  --tertiary-color: var(--slate-400);
  --tertiary-color-dark: var(--slate-300);
}
