* {
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  section {
    margin: 5rem 0;
  }
}

body {
  margin: 0px;
  text-justify: inter-word;
  min-height: 100vh;
}

.main-content-padding {
  padding: 0 16px;
}

main {
  width: 100%;
  max-width: 960px;
  line-height: 1.5;
}

figure {
  margin: 2.5rem;
}

header,
nav,
.nav-links,
.nav-links a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: var(--ui-color);
  font-weight: 700;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 42px;
  }

  :root {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
  .main-content-padding {
    padding: 0 8px;
  }

  figure {
    margin: 8px;
  }

  h1 {
    font-size: 40px;
  }

  :root {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 18px;
  }

  :root {
    font-size: 1rem;
  }
}

h2 {
  margin: 0 0 4px 0;
}
