.section-label {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 0 0 0;
  font-weight: 700;
  color: var(--secondary-color);
}

.more-button {
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 16px;
  margin-top: 1rem;
  background-color: black;
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  border: 1px solid var(--ui-color);
}

.more-button:hover {
  text-decoration: none;
  background-color: var(--button-hover);
}
