:root {
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}

:root {
  --hover-color: rgb(38 38 38); /* hover neutral */
  --hover-color-light: rgb(64 64 64); /* hover neutral */
  --link-color: black; /* link neutral */
  --text-color: black;
  --layout-color: black;
  --background-color: white;
  --selection-color: #06a6d4;
  --nav-color: #06b6d4;
  --nav-hover-color: hsl(350, 49%, 70%);
}

:root.dark {
  --hover-color: rgb(160, 160, 160); /* hover neutral */
  --hover-color-light: rgb(200, 200, 200); /* hover neutral */
  --text-color: #dcd6cf;
  --link-color: #dcd6cf; /* link neutral */
  --layout-color: #dcdbd9;
  --background-color: #121516;
  --selection-color: #06a6d4;
  --nav-color: black;
  --nav-hover-color: #64002a52;
}

/* *::selection {
  background-color: var(--selection-color);
  color: white;
} */

body {
  margin: 0px;
  text-justify: inter-word;
  min-height: 100vh;
}

main {
  width: 100%;
  max-width: 800px;
  line-height: 1.5;
}

header,
nav,
.nav-links,
.nav-links a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem 0px 0px 0px;
  text-align: center;
}

h3 {
  padding: 0px;
  text-align: center;
  margin: 0px 0px 1.5rem 0px;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--layout-color);
}

a {
  color: var(--link-color);
  font-weight: 700;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.h-screen {
  min-height: 90vh;
}

.hamburger {
  -webkit-tap-highlight-color: transparent;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}

.main-content-padding {
  padding: 0 1rem;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0.325926px 0.733333px 0px,
    rgba(0, 0, 0, 0.07) 0px 1.54074px 2.86667px 0px,
    rgba(0, 0, 0, 0.05) 0px 4px 9px 0px;
}

.justify-between {
  justify-content: space-between;
}
