---
import StandardLayout from "../layouts/StandardLayout.astro";
import "../styles/global.css";

const pageTitle = "About Me";
---

<style>
  * {
    --hover: rgb(80, 80, 80);
  }

  .skill {
    color: var(--hover);
    font-weight: bold;
    text-transform: uppercase;
  }
</style>

<StandardLayout pageTitle={"About me"}>
  <section>
    <h1>👋 Heyyy-hello!</h1>
    <p>Rasib here, I'm a software-engineer from Pakistan.</p>
    <p>
      I am self-taught in Frontend-development and have a BS in Computer Science
      🕴️.
    </p>
    <p>
      My battle-tested frontend stack is Next/React with TypeScript (or Astro).
      I like using Python (fastapi), kotlin/java (springboot) for quick and
      dirty backend devolempment; I also have some experience with Rust backend
      frameworks when things require you to go <em>super</em> fast.
    </p>
    <p>
      I'm happiest when I'm in my terminal 🖤 tinkering with my side projects
      and learning new things would help me level up.
    </p>

    <h2>🥳&nbsp;Fun facts about me:</h2>
    <ul>
      <li>
        <strong>💻Coding Environment:</strong> neovim ❤️ + i3 + zsh
      </li>
      <li>
        ⚡Personality type: ISTJ-A (<a
          href="https://www.16personalities.com/istj-personality">Logistician</a
        > apparently), Enneagram 5
      </li>
      <li>
        <strong>Three Recommended Books:</strong> "Deep Work" - Cal Newport,
        "Atomic Habit" - James Clear, "The name of the Wind" - Patrick Rothfuss
      </li>
      <li>
        <strong>Favourite Quote:</strong><em>
          "It's the questions we can't answer that teach us the most. They teach
          us how to think. If you give a man an answer, all he gains is a little
          fact. But give him a question and he'll look for his own
          answers."&mdash; Patrick Rothfuss
        </em>
      </li>
    </ul>
    <hr />
    <p>
      Welp, you made it all the way down!! Thanks for dropping by! While you're
      here, be sure to check out my secret <a href="/blog">blog</a> (which is
      mostly empty rn) and <a href="/projects">projects</a>!
    </p>
    <p>
      Have a great day! 😁, and I hope all your tests pass and your divs stay
      centered!
    </p>
  </section>
</StandardLayout>
<style>
  section {
    margin-inline: 20px;
  }

  p {
    margin-block: 16px;
  }

  h2 {
    margin-top: 40px;
  }

  h1 {
    margin-bottom: 20px;
  }

  hr {
    margin-block: 32px;
  }
  li {
    margin-block: 18px;
  }

  ul {
    margin-block: 16px;
    padding-inline: 24px;
  }
</style>
