---
import "../styles/global.css";
import { getCollection } from "astro:content";
import StandardLayout from "../layouts/StandardLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "My Writing";
const allPost = await getCollection("posts");
---

<StandardLayout pageTitle={pageTitle}>
  <div>
    <p>Down below is a list of my blog posts:</p>
    <ul>
      {
        allPost.map((post) => (
          <BlogPost url={"/posts/" + post.slug} title={post.data.title} />
        ))
      }
    </ul>
    <p>Wanna search using tags instead? <a href="/tags">Click here</a></p>
    {/*TODO: add arrow floating point right */}
  </div>
</StandardLayout>
