---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPost = await Astro.glob("../pages/posts/*.md");
const pageTitle = "My Blog";
import BlogPost from "../components/BlogPost.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <p>Down below is a list of my blog posts:</p>
    <ul>
      {
        allPost.map((post) => (
          <BlogPost url={post.url} title={post.frontmatter.title} />
        ))
      }
    </ul>
    <p>Wanna search using tags instead? <a href="/tags">Click here</a></p>
  </div>
</BaseLayout>

<style>
  ul {
    border: 1px solid #ccc;
  }
</style>
