---
const pageTitle = "Hi. I am Rasib";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex items-center flex-col">
          <h1>Hi. I am Rasib</h1>
  </div>
  <main class="mb-auto">
    </main>
  <Footer/>
</BaseLayout>

<style>
  h1 {
    font-size: 3rem;
  }
  </style>

