---
import GithubIcon from "../Icons/github.astro";
---

<section id="contact">
  <h1 class="section-label">CONTACT</h1>
  <h2>Let's work together</h2>
  <!-- <p>You can contact with me at:</p> -->
  <div class="contacts">
    <a class="more-button" href="mailto:m.nadeem.22976@khi.iba.edu.pk">
      💌 Leave a mail
    </a>
    <a class="more-button" href={`https://www.github.com/Rasib0`}>
      <GithubIcon />Github</a
    >
    <a
      class="more-button"
      href={`https://www.linkedin.com/in/muhammad-rasib-nadeem`}
    >
      <i class="devicon-linkedin-plain"></i>
      LinkedIn
    </a>
  </div>

  <style>
    p {
      margin-bottom: 16px;
    }
    section > h2 {
      color: var(--red-600);
    }

    :global(.dark) section > h2 {
      color: var(--red-300);
    }

    .contacts {
      display: flex;
      gap: 16px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .contacts a {
      max-width: 360px;
      text-align: center;
      width: 100%;
    }
    /*
    .more-button {
      border-color: var(--red-950);
    }
    .more-button:hover {
      background-color: var(--red-950);
    }
     */
  </style>
</section>
