---
---

<section id="contact">
  <h1 class="section-label">CONTACT</h1>
  <h2>Let's work together</h2>
  <p>You can contact me through at:</p>
  <div class="contacts">
    <div>
      <a class="more-button" href="mailto:m.nadeem.22976@khi.iba.edu.pk">
        💌 Leave a mail
      </a>
    </div>
    <div>
      <a class="more-button" href={`https://www.github.com/Rasib0`}>
        <i class="devicon-github-plain"></i> Github</a
      >
    </div>
    <div>
      <a
        class="more-button"
        href={`https://www.linkedin.com/in/muhammad-rasib-nadeem`}
      >
        <i class="devicon-linkedin-plain"></i> LinkedIn
      </a>
    </div>
  </div>

  <style>
    section > h2 {
      color: var(--amber-600);
    }

    :global(.dark) section > h2 {
      color: var(--amber-300);
    }
    .more-button {
      border-color: var(--amber-950);
    }

    .contacts {
      display: flex;
      gap: 16px;
      margin-inline: 10vw;
      item-align: center;
      flex-direction: column;
    }

    .contacts a {
      text-align: center;
      display: block;
      width: 100%;
    }

    .more-button:hover {
      background-color: var(--amber-950);
    }
  </style>
</section>
