---
---

<section id="contact">
  <h1 class="section-label">CONTACT</h1>
  <h2>Let's work together</h2>
  <p>You can contact me through at:</p>
  <div class="contacts">
    <div>
      <a class="more-button" href="mailto:m.nadeem.22976@khi.iba.edu.pk">
        Leave a mail 💌 >
      </a>
    </div>
    <div>
      <a class="more-button" href={`https://www.github.com/Rasib0`}>Github ></a>
    </div>
    <div>
      <a
        class="more-button"
        href={`https://www.linkedin.com/in/muhammad-rasib-nadeem`}>LinkedIn ></a
      >
    </div>
  </div>
</section>

<style>
  .contacts {
    display: flex;
    gap: 16px;
    margin-inline: 10vw;
    item-align: center;
    flex-direction: column;
  }

  .contacts a {
    text-align: center;
    display: block;
    width: 100%;
  }
</style>
