---
---


  <div>
    <div class="project-card flex justify-between">
      <div><a href="https://chirp.rasib.me">Chirp</a></div>
      <div><a href="https://github.com/rasib0/chirp">Github</a></div>
    </div>
  </div>
  <div class="project-card flex justify-between">
    <div>
      <a href="https://tracker.rasib.me">Tracker</a>
    </div>
    <div>
      <a href="https://github.com/rasib0/mediatracker">Github</a>
    </div>
  </div>

  <style>
    .project-card > div {
      padding: 0px 24px;
    }

    .project-card {
      width: 100%;
      margin: 4px 5px;
      color: var(--text-color);
      border: 3px solid var(--text-color);
      border-radius: 10px;
    }
  </style>
