---

const allProjects = [
  {name: "Chirp", description: "a twitter clone where you can only type in emojis! 👻"
, link: "https://chirp.rasib.me", repo: "https://www.github.com/Rasib0/chirp"},

{name: "tracker", description: "a website where you can tracker all the book, movies etc. you like!", 
link: "https://tracker.rasib.me", repo: "https://www.github.com/Rasib0/mediatracker"
}
]
---
  <div class="project-main">
    {
      allProjects.map((project) => (
        <div class="project-card">
          <div class="project-card-inner flex justify-between">
            <div><a href={project.link}>{project.name}</a></div> 
            <div><a href={project.repo}>Repo</a></div>
          </div>
          <p>{project.description}</p>
        </div>
      ))
    }
    </div>
  <style>

    .project-main {
    }

    .project-card > div {
      padding: 0px 24px;
    }

    p {
      padding: 0px 12px;
    }

    .project-card {
      margin: 1.5rem 0.5rem;
      color: var(--text-color);
      border: 3px solid var(--text-color);
      border-radius: 10px;
    }

    .project-card-inner {
      background-color: var(--nav-color);
      color: var(--text-color);
      border-radius: inherit;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom: 3px solid var(--text-color);
    }
  </style>
