---
import Projects from "./Projects.astro";
---

<section>
  <h1 class="section-label">Projects</h1>
  <h2>Some of my work</h2>
  <p>Here are some of my projects like you might like</p>
  <Projects />
  <div class="flex justify-center items-center">
    <a role="button" class="more-button" href="/projects">More projects 📚 ></a>
  </div>
</section>
