---
import Skills from "./Skills.astro";
---

<section class="skills">
  <h1 class="section-label">Skills & Tools</h1>
  <h2>My Toolbox & Things I can do</h2>
  <!-- <p>
    Here are the list of technologies that I can use to build you any website or
    app:
  </p> -->
  <Skills />
</section>

<style>
  section > h2 {
    color: var(--pink-600);
  }

  p {
    margin-bottom: 16px;
  }

  :global(.dark) section > h2 {
    color: var(--darkreader-text--pink-300);
  }
</style>
