---
import Technology from "./Skills.astro";
---

<section class="skills">
  <h1 class="section-label">Skills</h1>
  <h2>Things I can do</h2>
  Here are the list of technologies that I can use to build you any website or app:
  <Technology />
</section>
