---
const skills = [
  {
    name: "HTML",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg",
    link: "https://developer.mozilla.org/en-US/docs/Web/HTML",
  },
  {
    name: "CSS",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg",
    link: "https://developer.mozilla.org/en-US/docs/Web/CSS",
  },
  {
    name: "JavaScript",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg",
    link: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
  },
  {
    name: "TypeScript",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg",
    link: "https://typescriptlang.org",
  },

  {
    name: "React",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg?raw=true",
    link: "https://react.dev",
  },

  {
    name: "Next",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg",
    link: "https://nextjs.org",
  },
  {
    name: "Python",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg?raw=true",
    link: "https://python.org",
  },
  {
    name: "Java",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg",
    link: "https://java.com",
  },
  {
    name: "Kotlin",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kotlin/kotlin-original.svg",
    link: "kotlinlang.org",
  },
  {
    name: "Rust",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rust/rust-plain.svg",
    link: "https://rust-lang.org",
  },
  {
    name: "Linux",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg",
    link: "https://kernel.org",
  },
  /* {
    name: "Astro",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/astro/astro-original.svg",
    link: "https://astro.build",
    }, */
  {
    name: "Git",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg",
    link: "https://git-scm.com",
  },
];
---

<div class="flex-wrapper">
  <div class="grid">
    {
      skills.map((tech) => (
        <div class="techcard">
          <img
            src={tech.logo}
            height="40"
            width="52"
            alt={tech.name + " logo"}
          />
          <a href={tech.link} class="techcard-text">
            {tech.name}
          </a>
        </div>
      ))
    }
  </div>
</div>
<style>
  .flex-wrapper {
    display: flex;
    justify-content: center;
  }

  .grid {
    flex: 1;
    display: grid;
    max-width: 799px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 0.75rem 0rem;
    justify-items: center;
    margin: 2rem 0rem;
  }

  @media screen and (min-width: 636px) {
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }

  .techcard {
    display: flex;
    gap: 0rem 0.4rem;
    align-items: center;
  }

  .techcard-text {
    min-width: 2.5cm;
    font-size: 16px;
    font-family: monospace;
    color: var(--text-color);
  }

  img {
    color: white;
    width: 48px;
    height: 48px;
  }
</style>
