---

---

<section id="testimonials">
  <h1 class="section-label">Testimonials</h1>
  <h2>Nice Things People Have Said</h2>
</section>

<style>
  section > h2 {
    color: var(--lime-600);
  }

  :global(.dark) section > h2 {
    color: var(--lime-400);
  }
</style>
