---
import Social from "./Social.astro";

const platform = "github";
const username = "rasib0";
---

<style>
  footer {
    margin-top: 2rem;
  }
  .socials {
    display: flex;
    gap: 1rem;
  }
</style>

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}
    >
      {platform}
    </a>
  </p>
  <div class="socials">
    <Social platform="twitter" username="rasib0" />
    <Social platform="github" username="rasib0" />
    <Social platform="linkedin" username="muhammad-rasib-nadeem" />
  </div>
</footer>
