---
const username = "rasib0";
const username_linkedin = "muhammad-rasib-nadeem"
---

<style>
  .button {
    padding: 0.3625rem 0.97rem;
    border-radius: 10px;
    font-weight: 500;
    color: var(--background-color);
    font-size: 14px;
    text-decoration: none;
    display: inline-flex;
    align-items; center;
    justify-content: center;
    white-space: pre-line;
    letter-spacing: 0.02px;
    background-color: var(--text-color);
  }

  .button:hover {
    background-color: var(--hover-color-light);
    text-decoration: none;

  }
  footer {
    padding: 5px;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
  }
  .socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
</style>

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.github.com/${username}`}
    >github</a>!
  </p>
  <div class="socials">
  <a class="box-shadow button" href={`https://www.github.com/${username}`}>github</a>
  <a class="box-shadow button" href={`https://www.twitter.com/${username}`}>twitter</a>
  <a class="box-shadow button" href={`https://www.linkedin.com/in/${username_linkedin}`}>linkedin</a>
  </div>
</footer>
