---
const { tags, notlink } = Astro.props;

const tagsIcons = [
  {
    name: "javascript",
    logo: "devicon-javascript-plain",
  },
  {
    name: "react",
    logo: "devicon-react-plain",
  },
  {
    name: "linux",
    logo: "devicon-linux-plain",
  },
  {
    name: "git",
    logo: "devicon-git-plain",
  },
  {
    name: "go",
    logo: "devicon-go-plain",
  },
  {
    name: "python",
    logo: "devicon-python-plain",
  },
  {
    name: "rust",
    logo: "devicon-rust-plain",
  },
  {
    name: "astro",
    logo: "devicon-astro-plain",
  },
  {
    name: "next",
    logo: "devicon-nextjs-plain",
  },
  {
    name: "css",
    logo: "devicon-css3-plain",
  },
  {
    name: "html",
    logo: "devicon-html5-plain",
  },
  {
    name: "tailwindcss",
    logo: "devicon-tailwindcss-plain",
  },
  {
    name: "node",
    logo: "devicon-nodejs-plain",
  },
  {
    name: "prisma",
    logo: "devicon-prisma-plain",
  },
  {
    name: "postgresql",
    logo: "devicon-postgresql-plain",
  },
  {
    name: "mysql",
    logo: "devicon-mysql-plain",
  },
  {
    name: "mongo",
    logo: "devicon-mongodb-plain",
  },
  {
    name: "java",
    logo: "devicon-java-plain",
  },
  { name: "typescript", logo: "devicon-typescript-plain" },
];
---

<div class="tags">
  {
    tags.map((tag) => (
      <span class="tag font-mono">
        {notlink && <a href={`/tags/${tag}`}>{tag}</a>}
        {!notlink && (
          <>
            <i
              class={tagsIcons.find((t) => t.name === tag.toLowerCase())?.logo}
            />
            {tag}
          </>
        )}
      </span>
    ))
  }
</div>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  i {
    text-align: center;
    font-size: 16px;
  }

  .tag {
    color: var(black);
    border-radius: 16px;
    background: var(--lime-300);
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 1px 6px;
    font-size: 12px;
    box-shadow: 0 1px 3px 0 var(--emerald-300), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }

  :global(.dark) .tag {
    color: black;
    background-color: var(--lime-500);
  }
</style>
