---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="project-card flex justify-between">
    <div><a href="https://chirp.rasib.me">Chirp</a></div>
    <div><a href="https://github.com/rasib0/chirp">Github</a></div>
  </div>
  <div class="project-card flex justify-between">
    <div>
      <a href="https://github.com/rasib0/mediatracker">Github</a>
    </div>
    <div>
      <a href="https://tracker.rasib.me">Tracker</a>
    </div>
  </div>
</BaseLayout>

<style>
  .project-card > div {
    padding: 0px 16px;
  }
</style>
