---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
  <h5><a href="https://github.com/rasib0/chirp">Chirp github</a></h5>
  <h5><a href="https://github.com/rasib0/mediatracker">Tracker github</a></h5>
</BaseLayout>
