---
const { pageTitle } = Astro.props;
import "../styles/global.css";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col items-center h-screen">
    <main class="custom-max-width mb-auto flex flex-col items-center">
      <slot />
    </main>
  </div>
</BaseLayout>

<style>
  .custom-max-width {
    max-width: 768px;
  }
</style>
